<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMORAMA</title>    
</head>
<link rel="stylesheet" style="text/css" href="{{url_for('static',filename='main_memo.css')}}">
<body>
    <div class="LEFT">
        <form class="carta" method="get">                    
            <input class="switch" type="submit" value="CLEAR"/>                    
        </form>                
    </div>
    <div class="MID">
        <div class="tiempo" id="cuenta-regresiva"></div>
        {% if startCounter == 1 %}
            <script src="{{ url_for('static', filename='cr.js') }}"></script>
        {% endif %}    
        <div class="message">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>             
        <div class="rf">
            {% if rf %}
                {{ rf }}
            {% endif %}
        </div>
        <div class="p">
            {% if p %}
                {{ p }}
            {% endif %}
        </div>
        <div class="F">
            {% if F %}
                <form class="carta" method="post">                    
                    <input class="switch" type="submit" value="REINTENTAR"/>                    
                </form>                 
            {% elif start %}
                <form class="carta" method="post">                    
                    <input class="switch" type="submit" value="INICIAR"/>                    
                </form>                 
            {% endif %}
        </div>
        <div class="espacioJuego">
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="1">
                    <input class="switch" type="submit" value="SUBMIT"/>                    
                    {% if id  == '1' %}
                        <div class="id">1</div>
                    {% elif iD == '1' %}
                        <div class="id">1</div>
                    {% elif id2 == '1' %}
                        <div class="id">1</div>
                    {% elif iD2 == '1' %}
                        <div class="id">1</div>
                    {% elif id3 == '1' %}
                        <div class="id">1</div>
                    {% elif iD3 == '1' %}
                        <div class="id">1</div>
                    {% elif id4 == '1' %}
                        <div class="id">1</div>
                    {% elif iD4 == '1' %}
                        <div class="id">1</div>
                    {% elif id5 == '1' %}
                        <div class="id">1</div>
                    {% elif iD5 == '1' %}
                        <div class="id">1</div>
                    {% elif id6 == '1' %}
                        <div class="id">1</div>
                    {% elif iD6 == '1' %}
                        <div class="id">1</div>
                    {% else %}
                        <div hidden class="id">1</div>
                    {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.1">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.1' %}
                    <div class="id">1</div>
                {% elif iD == '0.1' %}
                    <div class="id">1</div>
                {% elif id2 == '0.1' %}
                    <div class="id">1</div>
                {% elif iD2 == '0.1' %}
                    <div class="id">1</div>
                {% elif id3 == '0.1' %}
                    <div class="id">1</div>    
                {% elif iD3 == '0.1' %}
                    <div class="id">1</div>
                {% elif id4 == '0.1' %}
                    <div class="id">1</div>    
                {% elif iD4 == '0.1' %}
                    <div class="id">1</div>
                {% elif id5 == '0.1' %}
                    <div class="id">1</div>    
                {% elif iD5 == '0.1' %}
                    <div class="id">1</div>
                {% elif id6 == '0.1' %}
                    <div class="id">1</div>    
                {% elif iD6 == '0.1' %}
                    <div class="id">1</div>

                {% else %}
                    <div hidden class="id">1</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="2">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '2' %}
                    <div class="id">2</div>
                {% elif iD == '2' %}
                    <div class="id">2</div>
                {% elif id2 == '2' %}
                    <div class="id">2</div>
                {% elif iD2 == '2' %}
                    <div class="id">2</div>
                {% elif id3 == '2' %}
                    <div class="id">2</div>    
                {% elif iD3 == '2' %}
                    <div class="id">2</div>    
                {% elif id4 == '2' %}
                    <div class="id">2</div>    
                {% elif iD4 == '2' %}
                    <div class="id">2</div>    
                {% elif id5 == '2' %}
                    <div class="id">2</div>    
                {% elif iD5 == '2' %}
                    <div class="id">2</div>    
                {% elif id6 == '2' %}
                    <div class="id">2</div>    
                {% elif iD6 == '2' %}
                    <div class="id">2</div>    
                {% else %}
                    <div hidden class="id">2</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.2">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.2' %}
                    <div class="id">2</div>
                {% elif iD == '0.2' %}
                    <div class="id">2</div>
                {% elif id2 == '0.2' %}
                    <div class="id">2</div>
                {% elif iD2 == '0.2' %}
                    <div class="id">2</div>
                {% elif id3 == '0.2' %}
                    <div class="id">2</div>                        
                {% elif iD3 == '0.2' %} 
                    <div class="id">2</div>                        
                {% elif id4 == '0.2' %}
                    <div class="id">2</div>                        
                {% elif iD4 == '0.2' %} 
                    <div class="id">2</div>                        
                {% elif id5 == '0.2' %}
                    <div class="id">2</div>                        
                {% elif iD5 == '0.2' %} 
                    <div class="id">2</div>                                            
                {% elif id6 == '0.2' %}
                    <div class="id">2</div>                        
                {% elif iD6 == '0.2' %} 
                    <div class="id">2</div>                                            
                {% else %}
                    <div hidden class="id">2</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="3">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '3' %}
                    <div class="id">3</div>
                {% elif iD == '3' %}
                    <div class="id">3</div>
                {% elif id2 == '3' %}
                    <div class="id">3</div>
                {% elif iD2 == '3' %}
                    <div class="id">3</div>
                {% elif id3 == '3' %}
                    <div class="id">3</div>    
                {% elif iD3 == '3' %}
                    <div class="id">3</div>    
                {% elif id4 == '3' %}
                    <div class="id">3</div>    
                {% elif iD4 == '3' %}
                    <div class="id">3</div>    
                {% elif id5 == '3' %}
                    <div class="id">3</div>    
                {% elif iD5 == '3' %}
                    <div class="id">3</div>    
                {% elif id6 == '3' %}
                    <div class="id">3</div>    
                {% elif iD6 == '3' %}
                    <div class="id">3</div>    
                {% else %}
                    <div hidden class="id">3</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.3">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.3' %}
                    <div class="id">3</div>
                {% elif iD == '0.3' %}
                    <div class="id">3</div>
                {% elif id2 == '0.3' %}
                    <div class="id">3</div>
                {% elif iD2 == '0.3' %}
                    <div class="id">3</div>
                {% elif id3 == '0.3' %}
                    <div class="id">3</div>    
                {% elif iD3 == '0.3' %}
                    <div class="id">3</div>
                {% elif id4 == '0.3' %}
                    <div class="id">3</div>    
                {% elif iD4 == '0.3' %}
                    <div class="id">3</div>                
                {% elif id5 == '0.3' %}
                    <div class="id">3</div>    
                {% elif iD5 == '0.3' %}
                    <div class="id">3</div>                                    
                {% elif id6 == '0.3' %}
                    <div class="id">3</div>    
                {% elif iD6 == '0.3' %}
                    <div class="id">3</div>                                    
                {% else %}
                    <div hidden class="id">3</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="4">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '4' %}
                    <div class="id">4</div>
                {% elif iD == '4' %}
                    <div class="id">4</div>
                {% elif id2 == '4' %}
                    <div class="id">4</div>
                {% elif iD2 == '4' %}
                    <div class="id">4</div>
                {% elif id3 == '4' %}
                    <div class="id">4</div>    
                {% elif iD3 == '4' %}
                    <div class="id">4</div>    
                {% elif id4 == '4' %}
                    <div class="id">4</div>    
                {% elif iD4 == '4' %}
                    <div class="id">4</div>    
                {% elif id5 == '4' %}
                    <div class="id">4</div>    
                {% elif iD5 == '4' %}
                    <div class="id">4</div>    
                {% elif id6 == '4' %}
                    <div class="id">4</div>    
                {% elif iD6 == '4' %}
                    <div class="id">4</div>    
                {% else %}
                    <div hidden class="id">4</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.4">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.4' %}
                    <div class="id">4</div>
                {% elif iD == '0.4' %}
                    <div class="id">4</div>
                {% elif id2 == '0.4' %}
                    <div class="id">4</div>
                {% elif iD2 == '0.4' %}
                    <div class="id">4</div>
                {% elif id3 == '0.4' %}
                    <div class="id">4</div>    
                {% elif iD3 == '0.4' %}
                    <div class="id">4</div>
                {% elif id4 == '0.4' %}
                    <div class="id">4</div>    
                {% elif iD4 == '0.4' %}
                    <div class="id">4</div>
                {% elif id5 == '0.4' %}
                    <div class="id">4</div>    
                {% elif iD5 == '0.4' %}
                    <div class="id">4</div>
                {% elif id6 == '0.4' %}
                    <div class="id">4</div>    
                {% elif iD6 == '0.4' %}
                    <div class="id">4</div>
                {% else %}
                    <div hidden class="id">4</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="5">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '5' %}
                    <div class="id">5</div>
                {% elif iD == '5' %}
                    <div class="id">5</div>
                {% elif id2 == '5' %}
                    <div class="id">5</div>
                {% elif iD2 == '5' %}
                    <div class="id">5</div>
                {% elif id3 == '5' %}
                    <div class="id">5</div>    
                {% elif iD3 == '5' %}
                    <div class="id">5</div>
                {% elif id4 == '5' %}
                    <div class="id">5</div>    
                {% elif iD4 == '5' %}
                    <div class="id">5</div>
                {% elif id5 == '5' %}
                    <div class="id">5</div>    
                {% elif iD5 == '5' %}
                    <div class="id">5</div>
                {% elif id6 == '5' %}
                    <div class="id">5</div>    
                {% elif iD6 == '5' %}
                    <div class="id">5</div>
                {% else %}
                    <div hidden class="id">5</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.5">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.5' %}
                    <div class="id">5</div>
                {% elif iD == '0.5' %}
                    <div class="id">5</div>
                {% elif id2 == '0.5' %}
                    <div class="id">5</div>
                {% elif iD2 == '0.5' %}
                    <div class="id">5</div>
                {% elif id3 == '0.5' %}
                    <div class="id">5</div>    
                {% elif iD3 == '0.5' %}
                    <div class="id">5</div>    
                {% elif id4 == '0.5' %}
                    <div class="id">5</div>    
                {% elif iD4 == '0.5' %}
                    <div class="id">5</div>    
                {% elif id5 == '0.5' %}
                    <div class="id">5</div>    
                {% elif iD5 == '0.5' %}
                    <div class="id">5</div>    
                {% elif id6 == '0.5' %}
                    <div class="id">5</div>    
                {% elif iD6 == '0.5' %}
                    <div class="id">5</div>    
                {% else %}
                    <div hidden class="id">5</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="6">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '6' %}
                    <div class="id">6</div>
                {% elif iD == '6' %}
                    <div class="id">6</div>
                {% elif id2 == '6' %}
                    <div class="id">6</div>
                {% elif iD2 == '6' %}
                    <div class="id">6</div>
                {% elif id3 == '6' %}
                    <div class="id">6</div>    
                {% elif iD3 == '6' %}
                    <div class="id">6</div>    
                {% elif id4 == '6' %}
                    <div class="id">6</div>    
                {% elif iD4 == '6' %}
                    <div class="id">6</div>    
                {% elif id5 == '6' %}
                    <div class="id">6</div>    
                {% elif iD5 == '6' %}
                    <div class="id">6</div>    
                {% elif id6 == '6' %}
                    <div class="id">6</div>    
                {% elif iD6 == '6' %}
                    <div class="id">6</div>    
                {% else %}
                    <div hidden class="id">6</div>
                {% endif %}
                </form>                
            </div>
            <div class="marco">
                <form class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.6">
                    <input class="switch" type="submit" value="SUBMIT"/>
                {% if id == '0.6' %}
                    <div class="id">6</div>
                {% elif iD == '0.6' %}
                    <div class="id">6</div>
                {% elif id2 == '0.6' %}
                    <div class="id">6</div>
                {% elif iD2 == '0.6' %}
                    <div class="id">6</div>
                {% elif id3 == '0.6' %}
                    <div class="id">6</div>    
                {% elif iD3 == '0.6' %}
                    <div class="id">6</div>    
                {% elif id4 == '0.6' %}
                    <div class="id">6</div>    
                {% elif iD4 == '0.6' %}
                    <div class="id">6</div>    
                {% elif id5 == '0.6' %}
                    <div class="id">6</div>    
                {% elif iD5 == '0.6' %}
                    <div class="id">6</div>    
                {% elif id6 == '0.6' %}
                    <div class="id">6</div>    
                {% elif iD6 == '0.6' %}
                    <div class="id">6</div>    
                {% else %}
                    <div hidden class="id">6</div>
                {% endif %}
                </form>                
            </div>
        </div>
    </div>
    <div class="RIGHT">right</div>    
</body>
</html>